@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root
{
  --highlight-color: #46b392;
  --base-color: #3c8da1;
  --button-back: #ffffff;
  --test: #033d34;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--base-color);
  background-color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px; /* fix this up later, something by percent */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: var(--highlight-color);
}
.navbar .links {
  margin-left: auto;
}
.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

h1.content{ /* stupid (*) selector ruins this */
  margin-bottom: 12px;
}

.footer {
  text-align: center;
}

.footer a {
  font-size: 10px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid var(--base-color);
}
.blog-preview:hover {
  box-shadow: 3px 3px 3px rgba(65, 125, 185, 0.9);
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--highlight-color);
  margin-bottom: 8px;
}

img {
  padding-left: 2rem;
  padding-right: 2rem;
}

p.project {
  color: #4eaf90;
}

div.project > p {
  font-size: 15px;
}

div.project > p > a {
  color: cornflowerblue;
}

div.resume > h3 {
  margin-top: 10px;
  margin-bottom: 4px;
}

div.contact > h3 {
  margin-top: 10px;
}

div.contact > h3 > a {
  color: cornsilk;
}

div.project > h3 {
  margin-bottom: 8px;
  color: cornsilk;
}