@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root
{
  --highlight-color: #46b392;
  --base-color: #3c8da1;
  --test: #033d34;
  --base-background: #333333;
}

body {
  margin: 0;
  font-family: "Quicksand";
  color: var(--base-color);
  background-color: var(--base-background);
}

button {
  color: var(--base-color);
  background-color: var(--base-background);
}

form {
  margin-top: 12px;
}

input {
  color: var(--base-color);
  background-color: var(--base-background);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px; /* fix this up later, something by percent */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

p {
  margin: 0;
}

img {
  margin-top: 8px;
  margin-bottom: 8px;
}

div.content {
  margin-top: 0;
}

.portfolio { margin-bottom: 8px; }

.navbar h1 {
  margin: 0;
  color: var(--highlight-color);
}
.navbar .links {
  margin: 0;
  margin-left: auto;
}
.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.footer {
  text-align: center;
  margin-bottom: 1rem;
}

.footer a {
  font-size: 15px;
}

.diary-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid var(--base-color);
}

div.diary-preview > p {
  margin-left: 10px;
  margin-top: 6px;
}

.diary-preview:hover {
  box-shadow: 3px 3px 3px rgba(6, 54, 102, 0.9);
}

.diary-preview h2 {
  font-size: 20px;
  color: var(--highlight-color);
  margin-bottom: 8px;
}

img {
  padding-left: 2rem;
  padding-right: 2rem;
}

div.project > p > a {
  color: cornflowerblue;
  font-weight: 400;
}

div.resume > h3 {
  margin-top: 10px;
  margin-bottom: 4px;
}

div.project > h3 {
  margin-bottom: 8px;
  margin-top: 0;
  color: cornsilk;
}

div.project > img {
  max-width: 80%;
  max-height: 400px;
}

div.footer > h6 {
  margin-bottom: 8px;
  font-size: 13px;
}

div.pokemon > p {
  font-weight: 600;
}

div.content > p {
  font-weight: 500;
  color: var(--highlight-color);
}

div.content > p > a {
  color: cornflowerblue;
}

div.contact > h3 {
  color: var(--highlight-color);
  margin-top: 10px;
}

div.contact > h3 > a {
  color: cornsilk;
}

div.project > p {
  font-size: 15px;
  font-weight: 600;
  margin-left: 12px;
  color: cornflowerblue;
}